<!DOCTYPE html>

<head>
    <title>2016 YFU cruise</title>
</head>

<body>
<h1>2016 YFU Cruise</h1>
<p>This is the website for the Youth for Understanding 2016 cruise. It contains information about the trip as well as a sign up form.</p>
<a href="signup/" class="signupText">Click here to sign up!</a>
<p>The website is a fairly simple because it was made in a hurry, sorry! <br> If you have problems, contact either Cheri McCaslin, cheri.mccaslin _at_ gmail.com, or the webmaster, yfu_site _at_ emilkirkegaard.dk .</p>
</body>