<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="Youth for Understanding 2016 cruise">
    <meta name="author" content="Youth for Understanding">
    <title>2016 YFU cruise</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body style="padding-top:40px;">
    <div class="container">
        <div class="jumbotron">
            <h1>2016 YFU Cruise</h1>
            <p class="lead">
                This is the website for the Youth for Understanding 2016 cruise. It contains information about the trip as well as a sign up form.
            </p>
            <p>
                <a class="btn btn-lg btn-success" href="signup/" role="button">Click here to sign up!</a>
            </p>
        </div>
        <p class="text-muted" style="font-size:12px;">
            For problems contact either Cheri McCaslin: cheri.mccaslin _at_ gmail.com, or the webmaster: yfu_site _at_ emilkirkegaard.dk.
        </p>
    </div>
</body>
